body {
  margin: 0;
  padding: 0;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  height: 60px;
  padding: 5px 25px;
  background-color: #FDF1EB;
  margin-left: 220px;
}

.header-text {
  font-size: 14px;
  font-family: Roboto;
  color: rgb(114, 92, 92);
  font-weight: 400;
  line-height: 16.41px;
}

.header-text1 {
  font-size: 22px;
  font-family: Roboto;
  color: rgb(114, 92, 92);
  font-weight: 400;
  line-height: 25.78px;
}

.dropdown {
  display: inline-block;
  font-family: Quicksand;
  font-size: 14px;
  position: absolute;
  top: 2.5%;
  left: 71%;
  transform: translateY(-50%, 50%);
  font-weight: 400;
  line-height: 17.5px;
}

.dropbtn {
  cursor: pointer;
  width: 97px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 3px;
  background-color: #FDF1EB;
  color: rgb(51, 51, 51);
}

.arrow {
  width: 10px;
  height: 10px;
  margin-left: 5px;
  margin-top: 2px;
}

.language {
  width: 15px;
  height: 15px;
  margin-right: 4px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fdeeee;
  width: 97px;
  border-radius: 3px;
  right: 0;
  top: 100%;
}

.dropdown-content a {
  color: #333;
  padding: 10px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: rgb(255, 255, 255);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.login {
  font-family: Quicksand;
}

.welcome {
  font-size: 14px;
  position: absolute;
  left: 89%;
  top: 1.1%;
  transform: translateY(-50%, 50%);
  font-weight: 400;
  line-height: 17.5px;
}

.email {
  font-size: 12px;
  position: absolute;
  left: 82%;
  top: 3.5%;
  transform: translateY(-50%, 50%);
  font-weight: 400;
  line-height: 15px;
}

.img-user {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  left: 95%;
  top: 3%;
  transform: translateY(-50%, 50%);
}

.notification {
  font-family: Roboto;
  font-size: 10px;
  color: white;
  text-align: center;
  line-height: 15px;
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  top: 8px;
  left: 96.5%;
  background-color: rgb(248, 89, 89);
}

.slaca {
  background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
  width: 220px;
  height: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.1);
}

.slaca-font {
  font-family: Roboto;
  font-size: 30px;
  color: #fff;
  font-weight: 700;
  line-height: 35.16px;
}

.nav-side {
  position: fixed;
  width: 220px;
  float: left;
  height: 100vh;
  box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.1);
}

.nav-side img {
  width: 100%;
}

.nav-font {
  display: block;
  text-decoration: none;
  margin-bottom: 7px;
  margin-top: 7px;
  margin-left: 24px;
  font-size: 15px;
  font-family: Quicksand;
  color: rgb(114, 92, 92);
  font-weight: 500;
  line-height: 18.75px;
}

.line {
  border-bottom: 2px solid rgb(231, 231, 231);
}

.trabalhos {
  padding-top: 1px;
  background-color: rgb(253, 241, 235);
  border-left: 5px solid #FFA500;
}

.container {
  margin-left: 220px;
  padding: 5px 30px;
}

.content {
  width: 786px;
  height: 54px;
  gap: 0px;
  opacity: 0px;
  margin-bottom: 490px;
}

.title-content {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 900;
  line-height: 25px;
  letter-spacing: 0.05em;
  color: rgb(237, 120, 57);
  padding-bottom: 5px;
}

.mp4 {
  width: 784px;
  height: 439px;
  gap: 0px;
  opacity: 0px;
  border-radius: 3px;
}

.summary {
  width: 1058px;
  height: 189px;
  border-radius: 3px 0px 0px 0px;
  border: 1px solid rgb(236, 236, 236);
  margin-bottom: 30px;
  padding-right: 8px;
}

.summary.expanded {
  width: 1058px;
  height: 560px;
  top: 542px;
  left: 1px;
  border-radius: 3px 0px 0px 0px;
  border: 1px 0px 0px 0px;
}

.header-summary {
  width: 1058px;
  height: 45px;
  gap: 0px;
  border-radius: 3px 3px 0px 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  border: 1px solid rgb(236, 236, 236);
  background-color: rgb(253, 241, 235);
  display: flex;
  align-items: center;
  padding-right: 8px;
}

.title {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
  margin: 15px;
  color: rgb(78, 78, 78);
}

.summary-content {
  margin: 15px;
  width: 1028px;
  height: 114px;
  font-family: Quicksand;
  font-size: 14px;
  font-weight: 400;
  line-height: 22.75px;
  letter-spacing: 0.02em;
}

.btn-show-more {
  color: rgb(255, 153, 0);
  cursor: pointer;
  font-weight: 700;
  letter-spacing: 0.02em;
}

#more {
  display: none;
}

.discussion {
  width: 1058px;
  height: 600px;
  border-radius: 3px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  border: 1px solid rgb(236, 236, 236);
  padding-right: 8px;
}

.discussion.expanded1 {
  width: 1058px;
  height: 800px;
  border-radius: 3px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  border: 1px solid rgb(236, 236, 236);
  padding-right: 8px;
  overflow: hidden;
}

.discussion.expanded2 {
  width: 1058px;
  height: 1315px;
  border-radius: 3px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  border: 1px solid rgb(236, 236, 236);
  padding-right: 8px;
  overflow: hidden;
}

.discussion.expanded3 {
  width: 1058px;
  height: 1400px;
  border-radius: 3px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  border: 1px solid rgb(236, 236, 236);
  padding-right: 8px;
  overflow: hidden;
}

.header-discussion {
  width: 1058px;
  height: 45px;
  top: 761px;
  border-radius: 3px 3px 0px 0px;
  border: 1px 0px 0px 0px;
  display: flex;
  align-items: center;
  background-color: rgb(253, 241, 235);
  border: 1px solid rgb(236, 236, 236);
  padding-right: 8px;
}

.discussion-title2 {
  width: 422px;
  height: 22px;
  top: 821px;
  margin-left: 50%;
  transform: translateX(-50%);
}

.discussion-card2 {
  display: none;
}

.form {
  display: none;
  width: 1020px;
  height: 245px;
}

.form-title {
  width: 965.37px;
  height: 18px;
  margin-left: 50%;
  margin-top: 2%;
  transform: translate(-50%, 50%);
  font-family: Quicksand;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.5px;
  text-align: center;
  color: rgb(92, 92, 92);
}

.form-label {
  width: 1020.52px;
  height: 19px;
  margin-left: 18px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 18.75px;
  color: rgb(237, 120, 57);
}

.subject {
  margin-left: 18px;
  width: 1028px;
  height: 39px;
  border-radius: 3px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  border: 1px solid rgb(204, 204, 204);
  margin-bottom: 10px;
  font-family: Quicksand;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.5px;
  color: rgb(77, 77, 77);
  box-sizing: border-box;
  padding-left: 22px;
}

.form-input1 {
  margin-left: 18px;
  width: 1028px;
  height: 113px;
  border-radius: 3px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  border: 1px solid rgb(204, 204, 204);
  box-sizing: border-box;
  padding-left: 22px;
  margin-top: 5px;
  font-family: Quicksand;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.5px;
  text-align: left;
  color: rgb(77, 77, 77);
}

.form-btn-border {
  margin-left: 18px;
  margin-top: -5px;
  width: 1028px;
  height: 31px;
  border-radius: 0px 0px 4px 4px;
  border: 1px 0px 0px 0px;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(234, 241, 242);
  display: flex;
  justify-content: end;
  margin-bottom: 30px;
}

.form-btn {
  font-family: Quicksand;
  font-size: 15px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  color: rgb(255, 255, 255);
  width: 205.1px;
  height: 31px;
  border-radius: 0px 0px 4px 0px;
  background: linear-gradient(180deg, #FEB154 0%, #F1833E 100%);
  border-color: transparent;
  cursor: pointer;
}

.underline {
  padding-top: 10px;
  font-family: Quicksand;
  font-size: 14px;
  font-weight: 500;
  line-height: 19.25px;
  text-align: center;
  text-decoration: underline;
  color: rgb(244, 143, 68);
}

.title2 {
  font-family: Roboto;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.09px;
  color: rgb(237, 120, 57);
}

.icon1 {
  width: 50.26px;
  height: 48.94px;
  top: 870px;
  margin-left: 402.5px;
  gap: 0px;
  opacity: 0px;
}

.icon2 {
  width: 50.26px;
  height: 48.94px;
  top: 870px;
  margin-left: 55px;
  gap: 0px;
  opacity: 0px;
}

.icon3 {
  width: 50.26px;
  height: 48.94px;
  top: 870px;
  margin-left: 55px;
  gap: 0px;
  opacity: 0px;
}

.discussion-subtitle {
  width: 626px;
  height: 39px;
  margin-left: 216.5px;
}

.subtitle {
  font-family: Quicksand;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.25px;
  text-align: center;
  color: rgb(89, 89, 89);
}

.btn-create-topic {
  font-family: Quicksand;
  font-size: 15px;
  font-weight: 700;
  line-height: 16px;
  color: rgb(255, 255, 255);
  width: 133px;
  height: 32px;
  margin-top: 17px;
  margin-left: 463px;
  border-radius: 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  background: linear-gradient(180deg, #FEB254 0%, #F0813D 100%);
  border-color: transparent;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;

}

.btn {
  position: relative;
  font-family: Quicksand;
  font-size: 15px;
  font-weight: 700;
  line-height: 16px;
  color: rgb(255, 255, 255);
  margin-top: 50px;
  width: 235.15px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #FEB254 0%, #F0813D 100%);
  border-color: transparent;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  margin-top: 50px;
  margin-left: 413px;
  border-radius: 5px;
}

.div-feedback {
  display: none;
  width: 1028px;
  height: 148px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.12);
  margin: 16px 20px 20px;
}

.feedback-txt {
  position: absolute;
  margin-left: 29.5%;
  margin-top: 0.5%;
}

.feedback {
  font-family: Quicksand;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: rgb(112, 112, 112);
}

.txt-blur {
  margin-left: 20px;
  width: 1028px;
  height: 148px;
  border: 4px solid rgb(231, 231, 231);
  filter: blur(5px);
}

.check {
  display: flex;
  justify-content: center;
}

.bi-check2-all {
  width: 30.92px;
  height: 23.22px;
  color: rgb(112, 112, 112);
}

.edit {
  font-family: Segoe UI;
  font-size: 14px;
  font-weight: 400;
  line-height: 18.62px;
  text-align: center;
  text-decoration: underline;
  color: rgb(237, 120, 57);
}

.bi-plus-lg {
  position: absolute;
  left: 10px;
}

.hr-btn {
  position: absolute;
  width: 1027px;
  top: 1080px;
  margin-left: 16px;
  border: 1px 0px 0px 0px;
  border: 1px solid rgb(231, 231, 231);
}

.hr-btn.expanded {
  position: absolute;
  margin-left: 16px;
  margin-top: 380px;
}

.card2 {
  margin: 15px 20px 20px;
  width: 1027px;
  height: 148px;
  top: 1054px;
  border-radius: 4px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  border: 1px solid rgb(231, 231, 231);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.12);
}

.card-header {
  margin-left: 25px;
  width: 542.07px;
  height: 38px;
  top: 1071px;
}

.card-title {
  width: 297px;
  height: 8px;
  top: 1071px;
  font-family: Quicksand;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  color: rgb(237, 120, 57);
}

.card-name {
  width: 542.07px;
  height: 15px;
  font-family: Quicksand;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  color: rgb(92, 92, 92);
}

.card-body {
  margin-left: 25px;
  font-family: Quicksand;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.5px;
  text-align: left;
  width: 980.67px;
  height: 15px;
  top: 1119px;
  left: 39.17px;
  gap: 0px;
  opacity: 0px;
  color: rgb(77, 77, 77);
}

.card-footer {
  width: 1065px;
  height: 59px;
  margin-left: 19px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.card-footer1 {
  width: 1065px;
  height: 59px;
  padding-top: 20px;
  margin-left: 19px;
  display: flex;
  flex-direction: row;
}

.card-footer1.expanded {
  padding-top: 35px;
}

#lk1 {
  display: none;
}

#rp1 {
  display: none;
}

#ans-topic1 {
  display: none;
}

.bi-three-dots-vertical {
  color: rgb(237, 120, 57);
  width: 20px;
  height: 20px;
  top: 1166px;
  gap: 0px;
  opacity: 0px;
  cursor: pointer;
}

.bi-suit-heart-fill {
  width: 14px;
  height: 14px;
  top: 1168px;
  left: 64px;
  gap: 0px;
  opacity: 0px;
  color: rgb(255, 255, 255);
}

.btn-heart {
  width: 27px;
  height: 19px;
  top: 1165px;
  margin-left: 10px;
  gap: 0px;
  opacity: 0px;
  background: rgb(237, 120, 57);
  border-color: transparent;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.like {
  width: 39px;
  height: 19px;
  margin-left: 20px;
  font-family: Segoe UI;
  font-size: 14px;
  font-weight: 350;
  line-height: 18.62px;
  text-align: left;
  color: rgb(117, 117, 117);
}

.response {
  width: 70px;
  height: 19px;
  margin-left: 20px;
  font-family: Segoe UI;
  font-size: 14px;
  font-weight: 350;
  line-height: 18.62px;
  text-align: left;
  color: rgb(117, 117, 117);
}

.comments-container {
  display: none;
}

#card-footer1 {
  display: none;
}

.answered-topic {
  cursor: pointer;
  margin: 16px 20px;
  width: 1027px;
  height: 148px;
  border-radius: 4px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  border: 1px solid rgb(231, 231, 231);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.12);
}

.answered-topic.expanded {
  cursor: pointer;
  margin: 16px 20px;
  width: 1028px;
  height: 760px;
  border-radius: 4px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  border: 1px solid rgb(231, 231, 231);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.12);
}

.ops-topic-subject {
  width: 297px;
  height: 8px;
  top: 1071px;
  font-family: Quicksand;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  color: rgb(237, 120, 57);
}

.topic-ans {
  margin-top: -10px;
  margin-left: -1px;
  width: 1027px;
  height: 131px;
  border: 1px 0px 0px 0px;
  background: rgb(248, 248, 248);
  border: 1px solid rgb(231, 231, 231);
}

.topic-ans1 {
  margin-top: -1px;
  margin-left: -1px;
  width: 1028px;
  height: 184px;
  top: 1666px;
  border: 1px 0px 0px 0px;
  background: rgb(248, 248, 248);
  border: 1px solid rgb(231, 231, 231);
}

.topic-aut {
  margin-top: -1px;
  margin-left: -1px;
  padding-bottom: 10px;
  width: 1027px;
  height: 130px;
  border: 1px 0px 0px 0px;
  border: 1px solid rgb(231, 231, 231);
}

.card-name1 {
  margin: 20px 25px;
  width: 542.07px;
  height: 15px;
  font-family: Quicksand;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  text-align: left;
  color: rgb(92, 92, 92);
}

.comments-author {
  margin-right: 80px;
  margin-top: -40px;
  font-family: Quicksand;
  font-size: 14px;
  font-weight: 700;
  line-height: 17.5px;
  text-align: left;
  text-align: right;
  color: rgb(237, 120, 57);
}

.comments-coa {
  margin-right: 70px;
  margin-top: -40px;
  font-family: Quicksand;
  font-size: 14px;
  font-weight: 700;
  line-height: 17.5px;
  text-align: right;
  color: rgb(237, 120, 57);
}

.check1 {
  display: flex;
  justify-content: flex-end;
  margin-right: 25px;
  margin-top: -32px;
}

.ch-or {
  width: 30.92px;
  height: 23.22px;
  color: rgb(237, 120, 57);
}

.card-right {
  position: absolute;
  left: 86%;
  top: 14%;
  transform: translate(-50%, -50%);
}

.download-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  text-align: center;
  color: rgb(255, 255, 255);
  width: 120px;
  height: 31px;
  padding: 6px 12px 6px 12px;
  gap: 5px;
  border-radius: 4px 0px 0px 0px;
  opacity: 0px;
  border-radius: 4px;
  background: rgb(237, 120, 57);
  border: none;
  cursor: pointer;
}

.fav {
  color: rgb(255, 255, 255);
  padding: 6px 12px 6px 12px;
  border-radius: 4px;
  border: none;
  background: rgb(237, 120, 57);
  cursor: pointer;
  position: absolute;
  left: 125%;
  top: 49%;
  transform: translate(-50%, -50%);
}

.doi-btn {
  position: absolute;
  left: 170%;
  top: 49%;
  transform: translate(-50%, -50%);
  width: 43px;
  height: 31px;
  padding: 6px 12px 6px 12px;
  border-radius: 4px;
  border: none;
  background: rgb(237, 120, 57);
  cursor: pointer;
}

.doi {
  width: 19px;
  height: 19px;
}

.text-right {
  width: 300px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0.05em;
  color: rgb(237, 120, 57);
  position: absolute;
  left: 93%;
  top: 17%;
  transform: translate(-50%, -50%);
}

.details {
  position: absolute;
  left: 92%;
  top: 52%;
  transform: translate(-50%, -50%);
  width: 242px;
  height: 459px;
  border-radius: 3px 0px 0px 0px;
  border: 1px solid rgb(236, 236, 236);
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 419px;
}

.details-header {
  padding-top: 1px;
  width: 242px;
  height: 45px;
  border-radius: 3px 3px 0px 0px;
  border: 1px 0px 0px 0px;
  background-color: rgb(253, 241, 235);
}

.details-txt {
  padding-left: 10px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
  position: absolute;
  top: 1%;
  transform: translateY(-50%);
  color: rgb(78, 78, 78);
}

.details-content {
  width: 212px;
  height: 364px;
  top: 133px;
  left: 831px;
  padding-left: 10px;
  font-family: Quicksand;
  color: rgb(92, 92, 92);
  padding-top: 10px;
}

.details-card1 {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.02em;
  padding-bottom: 15px;
}

.line-height {
  line-height: 18px;
}

.details-txt1 {
  font-family: Quicksand;
  font-size: 12px;
  font-weight: 700;
  line-height: 0px;
  letter-spacing: 0.02em;
}

.details-card2 {
  font-family: Quicksand;
  padding-bottom: 25px;
  letter-spacing: 0.02em;
}

.authors {
  font-size: 14px;
  font-weight: 700;
  line-height: 16.8px;
}

.aut-name {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
}

.num1 {
  font-size: 6px;
  font-weight: 400;
  line-height: 12px;
  position: absolute;
}

.num2 {
  font-size: 6px;
  font-weight: 400;
  line-height: 12px;
  position: absolute;
  top: 2px;
  left: 0;
}

.university {
  position: relative;
}

.university-item {
  position: relative;
  margin-bottom: 0px;
  margin-bottom: -3px;
}

.university-name {
  font-family: Quicksand;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.02em;
  margin-left: 3px;
  color: rgb(92, 92, 92);
}

.footer {
  margin-top: 50px;
  width: 1146px;
  height: 181px;
  padding: 0px 46px 0px 14px;
}

.galoa {
  width: 1086px;
  height: 181px;
  left: 14px;
  gap: 0px;
  opacity: 0px;
  margin-left: 220px;
}

@media screen and (min-width: 1500px) {
  .dropdown {
    left: 52%;
    top: 1.5%;
  }
  .welcome {
    left: 64%;
    top: 5px;
  }
  .email {
    left: 59%;
    top: 25px;
  }
  .img-user {
    left: 68%;
    top: 20px;
  }
  .notification {
    left: 69.2%;
    top: 10px;
  }
  .card-right {
    left: 62%;
    top: 9.5%;
  }
  .text-right {
    left: 67%;
    top: 11%;
  }
  .details {
    left: 64%;
    top: 38%;
  }
  .feedback-txt {
    margin-left: 19.5%;
    margin-top: 1.5%;
  }
}