<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Ts</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet">
</head>

<body>
  <div class="page-container">
    <header>
      <div class="header-text">Anais do Simpósio Latino Americano de Ciências de Alimentos</div>
      <div class="header-text1">Anais do Simpósio Latino Americano de Ciências de Alimentos</div>
      <div class="header-text">ISSN: 1234-5678</div>

      <div class="dropdown">
        <button class="dropbtn">
          <img src="assets/lang.png" class="language" alt="language">
          PT, BR
          <img src="assets/arrow.png" class="arrow" alt="arrow">
        </button>
        <div class="dropdown-content">
          <a href="pt-br">PT, PT</a>
          <a href="en-us">EN, US</a>
        </div>
      </div>

      <div class="login">
        <p class="welcome">Bem vindo!</p>
        <p class="email">alguem12@galoascience.com</p>
        <img src="assets/user.jpeg" class="img-user" alt="user">
        <p class="notification">2</p>
      </div>
    </header>

    <nav class="nav-side">
      <div class="slaca">
        <h1 class="slaca-font">SLACA 2019</h1>
      </div>
      <img src="assets/slaca.jpeg" alt="logo slaca">
      <div class="line">
        <a href="#" class="nav-font">Apresentação</a>
      </div>
      <div class="line">
        <a href="#" class="nav-font">Comitês</a>
      </div>
      <div class="line">
        <a href="#" class="nav-font">Autores</a>
      </div>
      <div class="line">
        <a href="#" class="nav-font">Eixos temáticos</a>
      </div>
      <div class="line trabalhos">
        <a href="#" class="nav-font">Trabalhos</a>
      </div>
      <div class="line">
        <a href="#" class="nav-font">Contato</a>
      </div>
    </nav>
  </div>

  <div class="container">

    <div class="content">
      <h2 class="title-content">Análise sensorial de preparações funcionais desenvolvidas para escolares entre 09 e 15 anos, do município de Campinas/SP</h2>
      <video class="mp4" controls>
        <video src="video.mp4" type="video/mp4">
          Seu navegador não suporta o elemento de vídeo.
        </video>
      </video>
    </div>

    <div class="summary">
      <div class="header-summary">
        <h3 class="title">Resumo</h3>
      </div>
      <div class="summary-content">
          <span id="txt">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae turpis auctor,
            mollis felis ut,
            commodo turpis. Phasellus felis mauris, egestas eget cursus et, iaculis quis lacus.
            Fusce auctor eros
            sed
            magna ultricies gravida. Etiam aliquam dictum nisl, vel aliquet enim accumsan sit amet.
            Donec finibus
            nisi
            tellus, ut viverra lorem vestibulum ut. Phasellus condimentum orci id leo condimentum
            lobortis et non
            lorem. Sed id nisl metus. Quisque sollicitudin ligula in sapien scelerisque, ac gravida
            eros vestibulum
            Phasellus condimentum orci id leo condimentum lobortis et non lorem. Sed id nisl metus.
            Quisque
            sollicitudin ligula in sapien scelerisque, ac gravida eros vestibulum. Etiam aliquam
            dictum nisl, vel
            aliquet enim accumsan sit ametl accumsant...</span>
          <a class="btn-show-more">ver mais</a>

          <span id="more">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae
            turpis auctor,
            mollis felis ut, commodo turpis. Phasellus felis mauris, egestas eget cursus et, iaculis
            quis lacus.
            Fusce auctor eros sed magna ultricies gravida. Etiam aliquam dictum nisl, vel aliquet
            enim accumsan sit
            amet. Donec finibus nisi tellus, ut viverra lorem vestibulum ut. Phasellus condimentum
            orci id leo
            condimentum lobortis et non lorem. Sed id nisl metus. Quisque sollicitudin ligula in
            sapien scelerisque,
            ac gravida eros vestibulum.
            <br><br>
            Fusce vitae luctus dui. Donec id euismod mauris, in volutpat urna. Proin dapibus
            consequat feugiat.
            Proin dictum
            justo arcu, quis vestibulum augue lacinia quis. Sed dignissim dui nulla, ut faucibus
            mauris sodales id.
            Aliquam erat volutpat. Maecenas dolor enim, tincidunt id elit non, suscipit interdum
            turpis. Etiam
            finibus urna
            libero, eget interdum eros volutpat ullamcorper. Pellentesque et pretium lorem. Aenean
            interdum quis
            diam ac
            porttitor. Cras nec ipsum pulvinar, pharetra libero non, ornare enim. Etiam in laoreet
            odio.
            <br><br>
            Nam eget tristique elit, at fermentum tellus. Mauris scelerisque ligula id eleifend
            feugiat. Donec
            eleifend
            vehicula sem nec dapibus. Integer scelerisque neque dui, in lacinia erat molestie eu.
            Phasellus maximus
            dui eget
            lacus porta tempor. Ut ex nibh, dignissim quis purus semper, efficitur facilisis turpis.
            Praesent
            blandit
            elementum ultricies. Aliquam sit amet enim sit amet nulla pulvinar lobortis consectetur
            non odio.
            Phasellus at
            lacus hendrerit, vulputate nisi sit amet, viverra mauris. Etiam eu scelerisque orci.
            Quisque sagittis,
            mi vitae
            pharetra iaculis, orci elit eleifend massa, eu posuere mauris odio id odio. Morbi eu
            libero luctus,
            consectetur
            lorem vel, interdum sapien. Aenean in porta arcu. Maecenas eu maximus massa.
            <br><br>
            Praesent velit dolor, dignissim sed quam ac, efficitur porta justo. Pellentesque porta
            pharetra felis ut
            hendrerit. Nulla facilisi. Aliquam erat volutpat. Nunc sit amet faucibus quam. Maecenas
            dapibus luctus
            dolor at
            viverra. Duis nec fringilla libero. Duis risus nibh, viverra ac orci nec, iaculis dictum
            sem. Aliquam at
            malesuada arcu. Aliquam erat volutpat. Donec varius ipsum purus, ut vehicula purus
            placerat vitae. Lorem
            ipsum
            dolor sit amet, consectetur adipiscing elit.
          </span>
      </div>
    </div>
  </div>

  <div class="discussion">
    <div class="header-discussion">
      <h3 class="title">Discussões</h3>
    </div>
    <div class="discussion-card1">
      <div class="discussion-title2">
        <h4 class="title2">Compartilhe suas ideias ou dúvidas com os autores!</h4>
      </div>
      <img src="assets/icone1.png" class="icon1" alt="icone1">
      <img src="assets/icone2.png" class="icon2" alt="icone2">
      <img src="assets/icone3.png" class="icon3" alt="icone3">
      <div class="discussion-subtitle">
        <p class="subtitle">Sabia que o maior estímulo no desenvolvimento científico e cultural é a curiosidade? Deixe
          seus questionamentos ou sugestões para o autor!</p>
      </div>
      <hr class="hr-btn">
      <button class="btn-create-topic">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-plus-lg"
          viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2" />
        </svg>
        criar tópico
      </button>
    </div>
  </div>

  <div class="form">
    <p class="form-title">Tem uma dúvida ou sugestão? Compartilhe seu feedback com os autores!</p>
    <form onsubmit="return false;">
      <label for="assunto" class="form-label">Assunto</label><br>
      <input type="text" class="subject" placeholder="Defina um tópico sucinto para notificar os autores..." required>
      <label for="conteudo" class="form-label">Conteúdo</label><br>
      <textarea id="conteudo" class="form-input1" rows="4" required></textarea>
      <div class="form-btn-border">
        <button type="submit" class="form-btn">Enviar</button>
      </div>
    </form>
  </div>


</body>

</html>