<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Ts</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet">
</head>

<body>
  <div class="page-container">
    <header>
      <div class="header-text">Anais do Simpósio Latino Americano de Ciências de Alimentos</div>
      <div class="header-text1">Anais do Simpósio Latino Americano de Ciências de Alimentos</div>
      <div class="header-text">ISSN: 1234-5678</div>

      <div class="dropdown">
        <button class="dropbtn">
          <img src="assets/lang.png" class="language" alt="language">
          PT, BR
          <img src="assets/arrow.png" class="arrow" alt="arrow">
        </button>
        <div class="dropdown-content">
          <a href="pt-br">PT, PT</a>
          <a href="en-us">EN, US</a>
        </div>
      </div>

      <div class="login">
        <p class="welcome">Bem vindo!</p>
        <p class="email">alguem12@galoascience.com</p>
        <img src="assets/user.jpeg" class="img-user" alt="user">
        <p class="notification">2</p>
      </div>
    </header>

    <nav class="nav-side">
      <div class="slaca">
        <h1 class="slaca-font">SLACA 2019</h1>
      </div>
      <img src="assets/slaca.jpeg" alt="logo slaca">
      <div class="line">
        <a href="#" class="nav-font">Apresentação</a>
      </div>
      <div class="line">
        <a href="#" class="nav-font">Comitês</a>
      </div>
      <div class="line">
        <a href="#" class="nav-font">Autores</a>
      </div>
      <div class="line">
        <a href="#" class="nav-font">Eixos temáticos</a>
      </div>
      <div class="line trabalhos">
        <a href="#" class="nav-font">Trabalhos</a>
      </div>
      <div class="line">
        <a href="#" class="nav-font">Contato</a>
      </div>
    </nav>
  </div>
</body>

</html>